---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: mongodbs.db.velotio.com
spec:
  group: db.velotio.com
  names:
    kind: MongoDB
    listKind: MongoDBList
    plural: mongodbs
    singular: mongodb
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: MongoDB is the Schema for the mongodbs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MongoDBSpec defines the desired state of MongoDB
            properties:
              init_password:
                type: string
              init_user:
                description: Foo is an example field of MongoDB. Edit mongodb_types.go
                  to remove/update
                type: string
              max_concurrent_connections:
                type: integer
              max_users:
                type: integer
            required:
            - max_concurrent_connections
            - max_users
            type: object
          status:
            description: MongoDBStatus defines the observed state of MongoDB
            properties:
              condition:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
